{% extends 'interface/layouts/mailer/base.html.twig' %}

{% block body %}

    Здравствуйте <b>{{ user.username }}</b>,

    <br><br>

    Чтобы восстановить пароль перейдите по ссылке нажав на кнопку ниже и введите свой новый пароль

    <br><br>

    <table>
        <tbody>
            <tr>
                <td class="btn btn-blue">
                    <a href="{{absolute_url(path('app_new_password', {'id': user.id, 'token': user.token}))}}">Восстановить пароль</a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
