<div class="modal fade user-share-modal" id="shareProfileModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="user-share-media profile"></div>
            </div>
        </div>
    </div>
</div>

<button id="shareProfileConfirm" type="button" class="dropdown-item" data-toggle="modal" data-target="#shareProfileAlert" style="display: none"></button>

<div class="modal fade md-confirm-modal user-share-send-modal" id="shareProfileAlert" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="md-modal-message">{{ 'sure.to.send.profile' | trans }} <span id="shareProfileUsername"></span>?</div>
                <span id="shareProfileId" style="display: none">{{ user.id }}</span>
                <a id="shareProfileConfirmButton" href="#" class="btn btn-modal-primary md-modal-item">{{ 'send' | trans }}</a>
                <button id="shareProfileCancel" type="button" class="btn btn-modal-default md-modal-item">{{ 'cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>
