<div style="margin-bottom: 50px"></div>

{#<div class="px-3 py-4 text-center" style="margin-bottom: 80px">#}
{#    <div class="container">#}
{#        <span class="footer-logo">#}
{#            <img style="opacity: 0.2" width="160" src="{{ asset('/assets/images/logotype-black.png') }}" alt="Shovdan Yist">#}
{#            <br>#}
{#            <span style="color: black;opacity: 0.2">#}
{#                {{ 'all.rights.reserved' | trans }}#}
{#            </span>#}
{#        </span>#}
{#    </div>#}
{#</div>#}
