<div class="modal fade user-share-modal" id="sharePostModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="user-share-media post"></div>
            </div>
        </div>
    </div>
</div>

<button id="sharePostConfirm" type="button" data-toggle="modal" data-target="#sharePostAlert" style="display: none"></button>

<div class="modal fade md-confirm-modal user-share-send-modal" id="sharePostAlert" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="md-modal-message">{{ 'sure.to.send.post' | trans }} <span id="sharePostUsername"></span>?</div>
                <span id="sharePostId" style="display: none"></span>
                <a id="sharePostConfirmButton" href="#" class="btn btn-modal-primary md-modal-item">{{ 'send' | trans }}</a>
                <button id="sharePostCancel" type="button" class="btn btn-modal-default md-modal-item">{{ 'cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>
