<nav class="md-nav sticky-top">

    <div class="container" style="display: flex">

        <a class="md-nav-logo" href="{{ path('app_home') }}" style="margin: 0 auto">
            <img src="{{ asset('/assets/images/logotype.png') }}" alt="Shovdan Yist">
        </a>

    </div>

</nav>
