<div class="modal fade user-share-modal" id="shareSongModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="user-share-media song"></div>
            </div>
        </div>
    </div>
</div>

<button id="shareSongConfirm" type="button" class="dropdown-item" data-toggle="modal" data-target="#shareSongAlert" style="display: none"></button>

<div class="modal fade md-confirm-modal user-share-send-modal" id="shareSongAlert" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="md-modal-container">
                <div class="md-modal-message">{{ 'sure.to.send.song' | trans }} <span id="shareSongUsername"></span>?</div>
                <span id="shareSongId" style="display: none">{{ song.id }}</span>
                <a id="shareSongConfirmButton" href="#" class="btn btn-modal-primary md-modal-item">{{ 'send' | trans }}</a>
                <button id="shareSongCancel" type="button" class="btn btn-modal-default md-modal-item">{{ 'cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>
